<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.open.openpaas.payservice.app.infrastructure.mybatis.DictTradePaymentRepositoryMyBatis">
	<resultMap type="DictTradePayment" id="DictTradePaymentMap">
		<id column="ID" property="id" jdbcType="INTEGER" />
		<result column="PAYMENT_NAME" property="paymentName" jdbcType="VARCHAR" />
		<result column="PAYMENT_TYPE" property="paymentType" jdbcType="DECIMAL" />
		<result column="RATE" property="rate" jdbcType="VARCHAR" />
		<result column="REMARK" property="remark" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Insert_Column_List">
		PAYMENT_NAME,
		PAYMENT_TYPE,
		RATE,
		REMARK
	</sql>
	<sql id="Base_Column_List">
		ID,
		<include refid="Insert_Column_List" />
	</sql>
	<insert id="insert" parameterType="cn.com.open.openpaas.payservice.app.payment.model.DictTradePayment">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
		select last_insert_id() as id
		</selectKey>
		insert into DICT_TRADE_PAYMENT
		(
			<include refid="Insert_Column_List" />
		)
		values 
		(
			#{paymentName, jdbcType=VARCHAR},
			#{paymentType, jdbcType=DECIMAL},
			#{rate,jdbcType=VARCHAR},
			#{remark,jdbcType=VARCHAR}
		)
	</insert>
	<select id="findByPaymentName" resultMap="DictTradePaymentMap">
         select * from DICT_TRADE_PAYMENT
         where  PAYMENT_NAME = #{paymentName}
	</select>
</mapper>