<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.open.openpaas.payservice.app.infrastructure.mybatis.PayCardInfoRepositoryMyBatis">
	<resultMap type="PayCardInfo" id="payCardInfoMap">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="identity_type" property="identityType" jdbcType="VARCHAR" />
		<result column="identity_id" property="identityId" jdbcType="VARCHAR" />
		<result column="card_no" property="cardNo" jdbcType="VARCHAR" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="oricard_no" property="oricardNo" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="app_id" property="appId" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="VARCHAR" />
		<result column="terminal_id" property="terminalId" jdbcType="VARCHAR" />
		<result column="lastlogin_terminal_id" property="lastLoginTerminalId" jdbcType="VARCHAR" />
		<result column="is_setpaypwd" property="isSetPaypwd" jdbcType="VARCHAR" />
		<result column="regist_ip" property="registIp" jdbcType="VARCHAR" />
		<result column="lastlogin_ip" property="lastloginIp" jdbcType="VARCHAR" />
		<result column="lastlogin_time" property="lastloginTime" jdbcType="TIMESTAMP" />
		<result column="regist_time" property="registTime" jdbcType="TIMESTAMP" />
		
	</resultMap>
	<sql id="Insert_Column_List">
	  identity_type,
	  identity_id,
	  card_no,
	  user_name,
	  oricard_no,
	  phone,
	  app_id,
	  create_time,
	  update_time,
	  status,
	  user_id,
	  terminal_id,
	  lastlogin_terminal_id,
	  is_setpaypwd,
	  regist_ip,
	  lastlogin_ip,
	  lastlogin_time,
	  regist_time
	</sql>

	<sql id="Base_Column_List">
		id,
		<include refid="Insert_Column_List" />
	</sql>
	<insert id="insert" parameterType="cn.com.open.openpaas.payservice.app.order.model.PayCardInfo">
		<selectKey resultType="java.lang.String" order="AFTER" keyProperty="id">
		select last_insert_id() as id
		</selectKey>
		insert into PAY_CARD_INFO
		(
			<include refid="Insert_Column_List" />
		)
		values 
		(
			#{identityType, jdbcType=VARCHAR},
			#{identityId, jdbcType=VARCHAR},
			#{cardNo, jdbcType=VARCHAR},
			#{userName, jdbcType=VARCHAR},
			#{oricardNo, jdbcType=VARCHAR},
			#{phone, jdbcType=VARCHAR},
			#{appId, jdbcType=VARCHAR},
			#{createTime, jdbcType=TIMESTAMP},
			#{updateTime, jdbcType=TIMESTAMP},
			#{userId, jdbcType=VARCHAR},
			#{status, jdbcType=INTEGER},
			#{userId, jdbcType=VARCHAR},
			#{terminalId, jdbcType=VARCHAR},
			#{lastLoginTerminalId, jdbcType=VARCHAR},
			#{isSetPaypwd, jdbcType=VARCHAR},
			#{registIp, jdbcType=VARCHAR},
			#{lastloginIp, jdbcType=VARCHAR},
			#{lastloginTime, jdbcType=TIMESTAMP},
			#{registTime, jdbcType=TIMESTAMP}
		)
	</insert>
	
	<select id="getCardInfo" resultMap="payCardInfoMap">
         select * from PAY_CARD_INFO
         where  user_id = #{userId}
         and app_id=#{appId}
	</select>
	<insert id="savePayCardInfo" parameterType="PayCardInfo" useGeneratedKeys="true" keyProperty="id">
        insert into PAY_CARD_INFO(identity_type,identity_id,card_no,user_name,oricard_no,phone,app_id,create_time,update_time,status,user_id,terminal_id,lastlogin_terminal_id,is_setpaypwd,regist_ip,lastlogin_ip,lastlogin_time,regist_time)
        values
        (#{identityType},#{identityId},#{cardNo},#{userName},#{oricardNo},#{phone},#{appId},#{createTime},#{updateTime},#{status},#{userId},#{terminalId},#{lastLoginTerminalId},#{isSetPaypwd},#{registIp},#{lastloginIp},#{lastloginTime},#{registTime})
    </insert>
    <update id="updateCardInfo" parameterType="PayCardInfo" flushCache="true">
        update PAY_CARD_INFO set
        card_no = #{cardNo},
        oricard_no=#{oricardNo},
        user_name=#{userName},
        phone=#{phone},
        update_time=#{updateTime},
        identity_id=#{identityId},
        identity_type=#{identityType},
        lastlogin_terminal_id=#{identityType},
        lastlogin_ip=#{lastloginIp},
        lastlogin_time=#{lastloginTime},
        regist_ip=#{registIp},
        regist_time=#{registTime},
        is_setpaypwd=#{isSetPaypwd}
        where id = #{id}
    </update>
     <update id="updateCardStatus"  flushCache="true">
        update PAY_CARD_INFO set
        status=#{status}
        where id = #{id}
    </update>
    
		
	
</mapper>