/bin/
/.project
/.settings/
/build/
/.gradle/
/bin/ 
*~
#*
*#
.#*
.classpath
.project
.settings/
.springBeans
target/
_site/
.idea
*.iml
*.swp
.factorypath
*.logtjmeter
.checkstyle
*.log
*.class
.DS_Stor