.banner {
	/*height: 568px;*/
	position: relative
}

.banner .inner.wrp {
	height: 100%
}

h2 {
	font-weight: 400;
	font-style: normal;
	font-size: 50px;
	color: #fff;
	padding-top: 170px;
	line-height: 65px
}

.btn.btn_banner {
	height: 35px;
	line-height: 35px; *
	line-height: 33px;
	padding: 0;
	width: 110px;
	font-size: 14px;
	color: #fff;
	border-color: #fff;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	margin-top: 35px;
	border-width: 1px
}

.btn.btn_banner:hover {
	text-decoration: underline
}

.icon_site_desc {
	width: 81px;
	height: 81px;
	vertical-align: middle;
	display: inline-block
}

.icon_site_desc.app_dev {
	background:
		url("page_index_z2168b9.png")
		0 0 no-repeat
}

.icon_site_desc.web_dev {
	background:
		url("page_index_z2168b9.png")
		0 -91px no-repeat
}

.icon_site_desc.wx_account {
	background:
		url("page_index_z2168b9.png")
		0 -182px no-repeat
}

.icon_site_desc.wx_plugin {
	background:
		url("page_index_z2168b9.png")
		0 -273px no-repeat
}

.site_desc_item dl {
	position: relative;
	font-size: 14px
}

.site_desc_item dt {
	font-size: 20px
}

.site_desc_item .readmore {
	padding-top: 4px
}

.site_desc_box {
	padding-top: 40px;
}

.site_desc_box .site_desc_inner {
	padding-left: 30px
}

.site_desc_box .site_desc_inner dl {
	margin-right: 30px
}

.site_desc_box .site_desc_item:first-child .site_desc_inner {
	padding-left: 0;
	border-left-width: 0
}

.site_desc_box .site_desc_item.no_extra_flex .site_desc_inner dl {
	margin-right: 0
}

.site_desc_box .site_desc_item dl {
	text-align: center
}

.site_desc_box .site_desc_item dt,.site_desc_box .site_desc_item .content,.site_desc_box .site_desc_item .readmore
	{
	position: absolute;
	left: 0;
	width: 100%
}

.site_desc_box .site_desc_item dt {
	margin-top: 105px
}

.site_desc_box .site_desc_item .content {
	margin-top: 140px;
	filter: alpha(opacity =   70);
	-moz-opacity: .7;
	-khtml-opacity: .7;
	opacity: .7
}

.site_desc_box .site_desc_item .readmore {
	margin-top: 210px
}

.site_desc_box .site_desc_item .readmore .btn {
	height: 30px;
	line-height: 30px; *
	line-height: 28px;
	padding: 0 12px;
	border: 0
}

.site_desc_box .site_desc_item .readmore .btn:hover {
	text-decoration: underline
}

.news {
	float: left;
	width: 50%
}

.news .inner {
	padding-left: 35px;
	padding-right: 35px;
	border-right: 1px solid #e6e7ec
}

.news.first .inner {
	padding-left: 0
}

.news.last {
	float: none;
	width: auto;
	overflow: hidden; *
	zoom: 1; *
	overflow: visible
}

.news.last .inner {
	padding-right: 0;
	border-right-width: 0
}

.news h3 {
	font-size: 22px;
	font-weight: 400;
	font-style: normal
}

.news ul {
	margin-top: 5px;
	margin-bottom: 5px
}

.news li {
	position: relative;
	line-height: 24px;
	font-size: 14px;
	padding-right: 7em
}

.news li a {
	display: inline-block;
	color: #222;
	max-width: 310px;
	width: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal
}

.news li .new {
	vertical-align: top;
	margin-top: 6px
}

.news .date {
	position: absolute;
	right: 0;
	top: 0;
	color: #9e9f9f
}

.body {
	padding-top: 0
}

.head_box {
	width: 100%;
	height: 66px;
	background:
		url(../images/wechat/bg/head_box_bg2168b9.png)
		no-repeat center top;
	z-index: 1
}

.container {
	padding-top: 40px
}

.notices_box {
	padding: 0 20px;
	position: relative;
	line-height: 35px;
	background: 0
}

.notices_box li {
	background: 0
}

.notices_box li.extra {
	position: absolute;
	right: 0;
	background:
		url(../images/wechat/bg/arrow_right2168b9.png)
		no-repeat right 10px;
	padding-right: 15px
}

.icon_pay_desc {
	width: 135px;
	height: 135px;
	vertical-align: middle;
	display: inline-block
}

.icon_pay_desc.secure {
	background:
		url("page_index_z2168b9.png")
		0 -364px no-repeat
}

.icon_pay_desc.fast {
	background:
		url("page_index_z2168b9.png")
		0 -504px no-repeat
}

.icon_pay_desc.scan {
	background:
		url("page_index_z2168b9.png")
		0 -612px no-repeat
}

.wrp_notice_box {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 10
}

.wrp_notice_box .bg {
	position: absolute;
	left: 0;
	bottom: 0;
	filter: alpha(opacity =   80);
	-moz-opacity: .8;
	-khtml-opacity: .8;
	opacity: .8;
	width: 100%;
	height: 35px;
	background-color: #fff
}

.wrp_notice_box .notices_box {
	border: 0;
	z-index: 11
}

.slider {
    position: relative;
}
.slider ul {
    height: 538px;
    position: relative;
}
.slider ul li {
    display: none;
    position: absolute;
    width: 100%;
}
.slider ul li img {
    background-position: center top;
    background-repeat: no-repeat;
    display: block;
    height: 349px;
    vertical-align: bottom;
    width: 100%;
}
.slider ul li.active {
    display: block;
}
.slider .toggle-btn {
    margin: -20px auto 0;
    overflow: hidden;
    position: relative;
    width: 80px;
    z-index: 22;
}
.slider-toggle-wrap {
    height: 60px;
    margin-top: -30px;
}
.slider .toggle-btn a {
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    float: left;
    height: 16px;
    margin-right: 4px;
    text-indent: -9999px;
    width: 16px;
}
.slider .toggle-btn a.active, .slider .toggle-btn a:hover {
    background: #25863c none repeat scroll 0 0;
}