<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.open.pay.platform.manager.infrastructure.mybatis.MerchantOrderRefundRepositoryMyBatis">
	<resultMap type="MerchantOrderRefund" id="merchantOrderRefundMap">
		<id column="Id" property="id" jdbcType="INTEGER" />
		<result column="MERCHANT_ORDERID" property="merchantOrderId" jdbcType="VARCHAR" />
		<result column="MERCHANT_ID" property="merchantId" jdbcType="INTEGER" />
		<result column="REFUND_MONEY" property="refundMoney" jdbcType="DECIMAL" />
		<result column="APPID" property="appId" jdbcType="VARCHAR" />
		<result column="REMARK" property="remark" jdbcType="VARCHAR" />
		<result column="SOURCE_UID" property="sourceUid" jdbcType="VARCHAR" />
		<result column="SOURCE_USERNAME" property="sourceUserName" jdbcType="VARCHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<result column="REAL_NAME" property="realName" jdbcType="VARCHAR" />
		<result column="PHONE" property="phone" jdbcType="VARCHAR" />
		<result column="GOODS_ID" property="goodsId" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Insert_Column_List">
	  MERCHANT_ORDERID,
	  MERCHANT_ID,
	  REFUND_MONEY,
	  APPID,
	  REMARK,
	  SOURCE_UID,
	  SOURCE_USERNAME,
	  CREATE_TIME,
	  REAL_NAME,
	  PHONE,
	  GOODS_ID
	</sql>
	
	<sql id="Base_Column_List">
		ID,
		<include refid="Insert_Column_List" />
	</sql>
	<insert id="insert" parameterType="cn.com.open.pay.platform.manager.order.model.MerchantOrderRefund">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
		select last_insert_id() as id
		</selectKey>
		insert into MECHANT_ORDER_REFUND
		(
			<include refid="Insert_Column_List" />
		)
		values 
		(
			#{merchantOrderId, jdbcType=VARCHAR},
			#{merchantId, jdbcType=INTEGER},
			#{refundMoney, jdbcType=DECIMAL},
			#{appId, jdbcType=VARCHAR},
			#{remark, jdbcType=VARCHAR},
			#{sourceUid, jdbcType=VARCHAR},
			#{sourceUserName, jdbcType=VARCHAR},
			#{createTime, jdbcType=TIMESTAMP},
			#{realName, jdbcType=VARCHAR},
			#{phone, jdbcType=VARCHAR},
			#{goodsId, jdbcType=VARCHAR}
		)
	</insert>

	<select id="findAllByPage" resultMap="merchantOrderRefundMap">
         select * from MECHANT_ORDER_REFUND where 1=1
        order by CREATE_TIME DESC limit #{startRow},#{pageSize} 
	</select>
	<select id="findByMerchantOrderId" resultMap="merchantOrderRefundMap">
		select * from MECHANT_ORDER_REFUND where 1=1 and MERCHANT_ORDERID=#{merchantOrderId}
	</select>
	<select id="findQueryCount" resultType="int">
        select count(*) from  MECHANT_ORDER_REFUND where 1=1
    </select>
    <resultMap id="allInfo" type="java.util.Map">
        <result column="sum(PAY_AMOUNT)" property="totalAmount" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>