<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.open.pay.platform.manager.infrastructure.mybatis.PrivilegeRoleRepositoryMyBatis">
	<resultMap type="PrivilegeRole" id="privilegeRoleMap">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Insert_Column_List">
	  name,
	  status,
	  create_time
	</sql>
	<sql id="Base_Column_List">
		id,
		<include refid="Insert_Column_List" />
	</sql>
	<insert id="insert" parameterType="cn.com.open.pay.platform.manager.privilege.model.PrivilegeRole">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
		select last_insert_id() as id
		</selectKey>
		insert into privilege_role
		(
			<include refid="Insert_Column_List" />
		)
		values 
		(
			#{name, jdbcType=VARCHAR},
			#{status, jdbcType=INTEGER},
			#{createTime, jdbcType=TIMESTAMP}
			
		)
	</insert>
 
	<insert id="saveUserSerialRecord" parameterType="PrivilegeRole" useGeneratedKeys="true" keyProperty="id">
        insert into USER_SERIAL_RECORD(Id,USER_NAME,AMOUNT,SERIAL_NO,PAY_TYPE,CREATE_TIME,APP_ID,SOURCE_ID)
        values
        (#{id},#{userName},#{amount},#{serialNo},#{payType},#{createTime},#{appId},#{sourceId})
    </insert>
    <select id="findByRoleName" resultType="privilegeRoleMap" flushCache="true">
         select * from privilege_role where 1=1
         <if test="name != null and name !=''" >
           and name=#{name} 
        </if>
     </select>
     
     <select id="findQueryCount" resultType="int">
         select count(*) from privilege_role where 1=1
         <if test="name != null and name !=''" >
           and name=#{name} 
        </if>
     </select>
	
	<select id="findQueryRunning" resultType="java.util.Map" flushCache="true">
        select * from  USER_SERIAL_RECORD where 1=1
        <if test="appId != null and appId !=''" >
           and APP_ID=#{appId} 
        </if>
        <if test="payType != null and payType !=''" >
           and PAY_TYPE=#{payType} 
        </if>
        <if test="serialNo != null and serialNo !=''" >
           and SERIAL_NO=#{serialNo} 
        </if>
        <if test="userName != null and userName !=''" >
           and USER_NAME=#{userName} 
        </if>
        <if test="startDate != null and startDate !=''" >
           and CREATE_TIME BETWEEN #{startDate, jdbcType=TIMESTAMP} 
        </if>
        <if test="endDate != null and endDate !=''" >
           and #{endDate, jdbcType=TIMESTAMP}
        </if>
       limit #{startRow},#{pageSize} 
    </select>
    
     <select id="findRunningCount" resultType="int">
        select count(*) from  USER_SERIAL_RECORD where 1=1
        <if test="appId != null and appId !=''" >
           and APP_ID=#{appId} 
        </if>
        <if test="payType != null and payType !=''" >
           and PAY_TYPE=#{payType} 
        </if>
        <if test="serialNo != null and serialNo !=''" >
           and SERIAL_NO=#{serialNo} 
        </if>
        <if test="userName != null and userName !=''" >
           and USER_NAME=#{userName} 
        </if>
        <if test="startDate != null and startDate !=''" >
           and CREATE_TIME BETWEEN #{startDate, jdbcType=TIMESTAMP} 
        </if>
        <if test="endDate != null and endDate !=''" >
           and #{endDate, jdbcType=TIMESTAMP}
        </if>
    </select>
    
</mapper>