<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.open.pay.platform.manager.infrastructure.mybatis.PrivilegePublicRepositoryMyBatis">
	<resultMap type="PrivilegePublic" id="privilegePublicMap">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="moduleId" property="moduleId" jdbcType="INTEGER" />
		<result column="resources" property="resources" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Insert_Column_List">
	  moduleId,
	  resources
	</sql>
	<sql id="Base_Column_List">
		id,
		<include refid="Insert_Column_List" />
	</sql>
	
	<select id="findPublic" resultMap="privilegePublicMap">
		select id,moduleId,resources from privilege_public order by id
	</select>
	
	<select id="queryRoleDetails" resultMap="privilegePublicMap" parameterType="privilegePublicMap">
		select id,moduleId,resources from privilege_public
		<where>
			<if test="id != null and id !=''">id=#{id}</if>
		</where>
	</select>
	
	<update id="updatePublic" parameterType="cn.com.open.pay.platform.manager.privilege.model.PrivilegePublic">
		update privilege_public set
		<if test="resources !=null and resources != ''">
			resources = #{resources}
		</if>
		where id = #{id} and moduleId = #{moduleId},
	</update>
	
	<insert id="insertPublic" parameterType="cn.com.open.pay.platform.manager.privilege.model.PrivilegePublic">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
		select last_insert_id() as id
		</selectKey>
		insert into privilege_public
		(
			<include refid="Insert_Column_List" />
		)
		values 
		(
			#{moduleId, jdbcType=INTEGER},
			#{resources, jdbcType=VARCHAR}
		)
	</insert>
 
</mapper>