<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.open.pay.platform.manager.infrastructure.mybatis.PrivilegeRoleDetailsRepositoryMyBatis">
	<resultMap type="PrivilegeRoleDetails" id="privilegeRoleDetailsMap">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="roleId" property="roleId" jdbcType="INTEGER" />
		<result column="moduleId" property="moduleId" jdbcType="INTEGER" />
		<result column="resources" property="resources" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Insert_Column_List">
	  roleId,
	  moduleId,
	  resources
	</sql>
	<sql id="Base_Column_List">
		id,
		<include refid="Insert_Column_List" />
	</sql>
	<insert id="insert" parameterType="cn.com.open.pay.platform.manager.privilege.model.PrivilegeRoleDetails">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
		select last_insert_id() as id
		</selectKey>
		insert into privilege_role_details
		(
			<include refid="Insert_Column_List" />
		)
		values 
		(
			#{roleId, jdbcType=INTEGER},
			#{moduleId, jdbcType=INTEGER},
			#{resources, jdbcType=VARCHAR},
			
		)
	</insert>
	<insert id="savePrivilegeRoleDetails" parameterType="PrivilegeRoleDetails" useGeneratedKeys="true" keyProperty="id">
        insert into privilege_role_details(roleId,moduleId,resources)
        values
        (#{roleId},#{moduleId},#{resources})
    </insert>
    <select id="findRoleDetailsByRoleId" resultMap="privilegeRoleDetailsMap">
          Select  
     	  <include refid="Base_Column_List" />  
    	   from privilege_role_details 
    	   where roleId =#{roleId}
	</select> 
    <select id="QueryRoleDetails" resultMap="privilegeRoleDetailsMap" >
        select * from  privilege_role_details where 1=1
        <if test="roleId != null and roleId !=''" >
           and roleId=#{roleId} 
        </if>
        
    </select>
    
    <delete id="deletePrivilegeRoleDetail" parameterType="Integer">
        delete from privilege_role_details where roleId=#{id}
    </delete>
    
</mapper>