<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.open.pay.platform.manager.infrastructure.mybatis.PrivilegeRoleDetailsRepositoryMyBatis">
	<resultMap type="PrivilegeRoleDetails" id="privilegeRoleDetailsMap">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="roleId" property="roleId" jdbcType="INTEGER" />
		<result column="moduleId" property="moduleId" jdbcType="INTEGER" />
		<result column="resources" property="resources" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Insert_Column_List">
	  roleId,
	  moduleId,
	  resources
	</sql>
	<sql id="Base_Column_List">
		id,
		<include refid="Insert_Column_List" />
	</sql>
	<insert id="insert" parameterType="cn.com.open.pay.platform.manager.privilege.model.PrivilegeRoleDetails">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
		select last_insert_id() as id
		</selectKey>
		insert into privilege_role_details
		(
			<include refid="Insert_Column_List" />
		)
		values 
		(
			#{roleId, jdbcType=INTEGER},
			#{moduleId, jdbcType=INTEGER},
			#{resources, jdbcType=VARCHAR},
			
		)
	</insert>
 
	<insert id="savePrivilegeRoleDetails" parameterType="PrivilegeRoleDetails" useGeneratedKeys="true" keyProperty="id">
        insert into privilege_role_details(roleId,moduleId,resources)
        values
        (#{roleId},#{moduleId},#{resources})
    </insert>
    
    <select id="QueryRoleDetails" resultMap="privilegeRoleDetailsMap" >
        select * from  privilege_role_details where 1=1
        <if test="roleId != null and roleId !=''" >
           and roleId=#{roleId} 
        </if>
        
    </select>
    
    
    
    <select id="getSerialByTime" resultType="java.util.Map" flushCache="true">
         select   SERIAL_NO serialNo,USER_NAME userName,AMOUNT amount,PAY_TYPE payType,APP_ID appId,SOURCE_ID sourceId
	     from USER_SERIAL_RECORD
         where 1=1 
         and CREATE_TIME BETWEEN #{startTime, jdbcType=TIMESTAMP}  AND #{endTime, jdbcType=TIMESTAMP} and APP_ID=#{appId} and PAY_TYPE=#{payType}
	</select>
	 <select id="getTotalSerialByTime" resultType="java.util.Map" flushCache="true">
         select   SERIAL_NO serialNo,USER_NAME userName,AMOUNT amount,PAY_TYPE payType,APP_ID appId,SOURCE_ID sourceId
	     from USER_SERIAL_RECORD
         where 1=1 
         and CREATE_TIME BETWEEN #{startTime, jdbcType=TIMESTAMP}  AND #{endTime, jdbcType=TIMESTAMP} and APP_ID=#{appId}
	</select>
		<select id="getTotalAmountByTime"  resultType="java.util.Map" flushCache="true">
         select sum(AMOUNT) totalAmount  from USER_SERIAL_RECORD
         where 1=1 
         and CREATE_TIME BETWEEN #{startTime, jdbcType=TIMESTAMP}  AND #{endTime, jdbcType=TIMESTAMP} and APP_ID=#{appId} and PAY_TYPE=#{payType}
	</select>
		<select id="getTotalAmount"  resultType="java.util.Map" flushCache="true">
         select sum(AMOUNT) totalAmount ,PAY_TYPE payType ,count(*) count  from USER_SERIAL_RECORD
         where 1=1 
         and CREATE_TIME BETWEEN #{startTime, jdbcType=TIMESTAMP}  AND #{endTime, jdbcType=TIMESTAMP} and APP_ID=#{appId} group by PAY_TYPE
	</select>
	
	
	<select id="findQueryRunning" resultMap="privilegeRoleDetailsMap" >
        select * from  USER_SERIAL_RECORD where 1=1
        <if test="appId != null and appId !=''" >
           and APP_ID=#{appId} 
        </if>
        <if test="payType != null and payType !=''" >
           and PAY_TYPE=#{payType} 
        </if>
        <if test="serialNo != null and serialNo !=''" >
           and SERIAL_NO=#{serialNo} 
        </if>
        <if test="userName != null and userName !=''" >
           and USER_NAME=#{userName} 
        </if>
        <if test="startDate != null and startDate !=''" >
           and CREATE_TIME BETWEEN #{startDate, jdbcType=TIMESTAMP} 
        </if>
        <if test="endDate != null and endDate !=''" >
           and #{endDate, jdbcType=TIMESTAMP}
        </if>
       limit #{startRow},#{pageSize} 
    </select>
    
     <select id="findRunningCount" resultType="int">
        select count(*) from  USER_SERIAL_RECORD where 1=1
        <if test="appId != null and appId !=''" >
           and APP_ID=#{appId} 
        </if>
        <if test="payType != null and payType !=''" >
           and PAY_TYPE=#{payType} 
        </if>
        <if test="serialNo != null and serialNo !=''" >
           and SERIAL_NO=#{serialNo} 
        </if>
        <if test="userName != null and userName !=''" >
           and USER_NAME=#{userName} 
        </if>
        <if test="startDate != null and startDate !=''" >
           and CREATE_TIME BETWEEN #{startDate, jdbcType=TIMESTAMP} 
        </if>
        <if test="endDate != null and endDate !=''" >
           and #{endDate, jdbcType=TIMESTAMP}
        </if>
    </select>
    
</mapper>