/* here you can put your own css to customize and override the theme */
/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

body {
    font-family: 'Microsoft YaHei'
}
/*a {
text-shadow: none;
color: #2a9ae4;
}*/
/***
blue tab active
***/

.tabbable-custom {
    border: solid 1px #e8e8e8;
}

.tabbable-custom > .nav-tabs > li:nth-child(2) {
    border-top-left-radius: 3px;
}

.tabbable-custom > .nav-tabs > li.active {
    border-top: 3px solid #299be4;
    background-color: #FFF;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-color:transparent;
}

.tabbable-custom > .nav-tabs > li {
    background-color: #f9f9f9;
    border: 1px solid #e8e8e8;
    border-bottom: solid 1px #e8e8e8;
    margin-right: 0px;
    border-top: 2px solid transparent;
    border-left-color: transparent;
}
.tabbable-custom > .nav-tabs > .dropdown{
	background-color: #f9f9f9;
    border: 1px solid #e8e8e8;
    border-bottom: solid 1px #e8e8e8;
    margin-right: 0px;
    border-top: 2px solid transparent;
	
}
.tabbable-custom > .nav-tabs > li > a:hover{
	/*border-right-color: transparent;
    border-left-color: transparent;*/
}
.tabbable-custom > .nav-tabs > .dropdown.active{
    border-right-color: transparent;
    /*border-left-color: transparent;*/
}
.tabbable-custom > .nav-tabs > .dropdown.active > a{
	border-color: transparent;
}
.nav-tabs>.dropdown.active>a,
.nav-tabs>.dropdown.active>a:focus,
.nav-tabs>.dropdown.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    border-bottom-color: transparent;
}

.nav-tabs>li>a>i {}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.tabbable-custom > .nav-tabs > li.active > a:hover {
-webkit-border-radius: 0;
-moz-border-radius: 0;
-ms-border-radius: 0;
-o-border-radius: 0;
border-radius: 0;
background: #fff;
border-color: transparent;
}

.nav>li>a {
position: relative;
display: block;
padding: 7px 15px;
}
.nav-tabs {
    background-color: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.tabbable-custom > .tab-content {
    background-color: #fff;
    border: 1px solid #e8e8e8;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    padding: 10px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -ms-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}
/**
 * 布局
 */

.page-content-wrapper .page-content {
    padding: 0px 0 0 20px;
}

.page-header.navbar .page-logo .logo-default {
    margin: 17px 10px 0 10px;
    width: 170px;
}
.modal-open {
  overflow: hidden !important;
}