<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="useGeneratedKeys" value="true"/>
    </settings>
    <typeAliases>
	    <typeAlias alias="DictTradeChannel" type="cn.com.open.openpaas.payservice.app.channel.model.DictTradeChannel"/>
	    <typeAlias alias="DictTradePayment" type="cn.com.open.openpaas.payservice.app.payment.model.DictTradePayment"/>
	    <typeAlias alias="MerchantInfo" type="cn.com.open.openpaas.payservice.app.merchant.model.MerchantInfo"/>
	    <typeAlias alias="MerchantOrderInfo" type="cn.com.open.openpaas.payservice.app.order.model.MerchantOrderInfo"/>
    	<typeAlias alias="OrderRefund" type="cn.com.open.openpaas.payservice.app.refund.model.OrderRefund"/>
    	<typeAlias alias="LogMonitor" type="cn.com.open.openpaas.payservice.app.log.model.LogMonitor"/>
    	<typeAlias alias="UserAccountBalance" type="cn.com.open.openpaas.payservice.app.balance.model.UserAccountBalance"/> 
    	<typeAlias alias="UserSerialRecord" type="cn.com.open.openpaas.payservice.app.record.model.UserSerialRecord"/>  
    	<typeAlias alias="ChannelRate" type="cn.com.open.openpaas.payservice.app.channel.model.ChannelRate"/>   
    	<typeAlias alias="DictTradePaymentDitch" type="cn.com.open.openpaas.payservice.app.ditch.model.DictTradePaymentDitch"/>
    	<typeAlias alias="PayOrderDetail" type="cn.com.open.openpaas.payservice.app.order.model.PayOrderDetail"/>
    	<typeAlias alias="PayCardInfo" type="cn.com.open.openpaas.payservice.app.order.model.PayCardInfo"/>
    	<typeAlias alias="PayZxptInfo" type="cn.com.open.openpaas.payservice.app.zxpt.model.PayZxptInfo"/>
    	<typeAlias alias="PayLoanInfo" type="cn.com.open.openpaas.payservice.app.order.model.PayLoanInfo"/>
    </typeAliases>
    <mappers>
        <mapper resource="cc/wdcy/infrastructure/mybatis/DictTradeChannelMapper.xml"/>
        <mapper resource="cc/wdcy/infrastructure/mybatis/DictTradePaymentMapper.xml"/>
        <mapper resource="cc/wdcy/infrastructure/mybatis/MerchantInfoMapper.xml"/>
        <mapper resource="cc/wdcy/infrastructure/mybatis/MerchantOrderInfoMapper.xml"/>
		<mapper resource="cc/wdcy/infrastructure/mybatis/LogMonitorMapper.xml"/>
		<mapper resource="cc/wdcy/infrastructure/mybatis/OrderRefundMapper.xml"/>
		<mapper resource="cc/wdcy/infrastructure/mybatis/UserAccountBalanceMapper.xml"/>
		<mapper resource="cc/wdcy/infrastructure/mybatis/ChannelRateMapper.xml"/>
		<mapper resource="cc/wdcy/infrastructure/mybatis/UserSerialRecordMapper.xml"/>
		<mapper resource="cc/wdcy/infrastructure/mybatis/DictTradePaymentDitchMapper.xml"/>
		<mapper resource="cc/wdcy/infrastructure/mybatis/PayOrderDetailMapper.xml"/>
		<mapper resource="cc/wdcy/infrastructure/mybatis/PayCardInfoMapper.xml"/>
		<mapper resource="cc/wdcy/infrastructure/mybatis/PayZxptInfoMapper.xml"/>
		<mapper resource="cc/wdcy/infrastructure/mybatis/PayLoanInfoMapper.xml"/>
    </mappers>
</configuration>